/* Shard Zero Generated Theme */
/* Generated at: 2026-01-04T12:05:57.029Z */

:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* Primary Colors */
  --oui-color-primary: 41 98 255;
  --oui-color-primary-light: 71 128 255;
  --oui-color-primary-darken: 1 58 215;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 41 98 255;
  --oui-color-link-light: 0 57 203;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  /* Status Colors */
  --oui-color-success: 0 179 134;
  --oui-color-success-light: 60 239 194;
  --oui-color-success-darken: 0 139 94;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-danger: 255 85 85;
  --oui-color-danger-light: 255 145 145;
  --oui-color-danger-darken: 215 45 45;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  /* Background & Fill Colors */
  --oui-color-fill: 18 19 29;
  --oui-color-fill-active: 28 29 39;

  /* Base Color Palette (10 steps) */
  --oui-color-base-1: 18 19 29;
  --oui-color-base-2: 16 17 26;
  --oui-color-base-3: 14 15 23;
  --oui-color-base-4: 13 13 20;
  --oui-color-base-5: 11 11 17;
  --oui-color-base-6: 9 10 15;
  --oui-color-base-7: 7 8 12;
  --oui-color-base-8: 5 6 9;
  --oui-color-base-9: 4 4 6;
  --oui-color-base-10: 2 2 3;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 30 32 40;

  /* Trading Colors */
  --oui-color-trading-loss: 255 85 85;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 179 134;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* Gradients */
  --oui-gradient-primary-start: 0 18 175;
  --oui-gradient-primary-end: 41 98 255;

  --oui-gradient-secondary-start: 0 48 205;
  --oui-gradient-secondary-end: 41 98 255;

  --oui-gradient-success-start: 0 119 74;
  --oui-gradient-success-end: 0 179 134;

  --oui-gradient-danger-start: 195 25 25;
  --oui-gradient-danger-end: 255 85 85;

  --oui-gradient-brand-start: 121 178 255;
  --oui-gradient-brand-end: 41 98 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 4 4 6;
  --oui-gradient-neutral-end: 7 8 12;

  /* Border Radius */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* Spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}
